doctype html
html(lang="en") 
  head
  title
    | Aflac : Employer Choice
  meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8") 
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  link(href='css/screen.css', rel='stylesheet') 
  body.agent-dashboard
    include includes/_header-and-main-nav.jade 
    include includes/_flash.jade    
    .wrapper
      .content-head
        h1 Shirley's Dashboard
        form#startEmployee.input-and-button-container(action="employer-questions.html")
          label.hidden(for='username') Agent ID
          input#employerName(type="text", required='required', data-msg-required='Please enter employer name', data-msg='Please enter a valid name', minlength="2", placeholder="Employer name")
          //- input.icon-right-open(type='submit', value='Start')
          button#primaryBtn.icon-right-open(type='submit') Start
      .primary-content        
        .table-container
          table.table-minimal
            thead
              tr
                th Employers
                th Choices complete 
                th 75% POPS
                th Submitted
            tbody
              tr.modalOpner(href='dialogs/employer-status.html', name='3Blades')
                th 3Blades
                td.dot.yes
                  span
                td.dot
                  span
                td.dot
                  span
              tr
                th Abate Solutions
                td.dot.yes
                  span
                td.dot.yes
                  span
                td.dot.yes
                  span
              tr
                th Apogee Legal
                td.dot
                  span
                td.dot
                  span
                td.dot
                  span
              tr
                th Bay Dynamics
                td.dot.yes
                  span
                td.dot
                  span
                td.dot
                  span
        .table-container
          table.table-minimal.benefits
            caption Aflac All Employee Choices
            tbody
              tr.modalOpner(href='dialogs/product-health-advocate.html', name='Health Advocate')
                th Health Advocate
                td 19¢ 
                  abbr(title='Per employee per month') pe/mth
              tr
                th Telemedicine from MeMD
                td 16¢ 
                  abbr(title='Per employee per month') pe/mth
              tr
                th Legal Services
                td $2 
                  abbr(title='Per employee per month') pe/mth
              tr
                th Career and Talent Coaching
                td 24¢ 
                  abbr(title='Per employee per month') pe/mth
              tr
                th Family Care Providers for Kids, Pets, and Parents
                td 16¢ 
                  abbr(title='Per employee per month') pe/mth
              tr
                th Student Loan Repayment
                td 31¢ 
                  abbr(title='Per employee per month') pe/mth    
    .dialog
              
script(src='javascript/vendor/jquery-3.1.0.min.js')
script(src='javascript/vendor/jquery-ui.min.js')
script(src='javascript/vendor/jquery.validate.min.js')
script(src='javascript/global-scripts.js')
script.  
  $("#startEmployee").validate({
    submitHandler: function(form) {
      // set employer name to local storage
      sessionStorage.setItem('employerName', $('#employerName').val());
      form.submit(); 
    }
  });
  
  // dialog settings
  $( ".dialog" ).dialog({
    autoOpen: false,
    show: {
      effect: "blind",
      duration: 10
    },
    hide: {
      effect: "explode",
      duration: 10
    },
    modal: true    
  });
    
  // open dialog
  $('.modalOpner').click(function(e){ 
    e.preventDefault();    
    var url = $(this).attr('href');    
    $('.dialog').load(url);
    $('.dialog').dialog({ title: $(this).attr('name') });
    $('.dialog').dialog('open'); 
  });
  
  
  // close tip
  $('.close-banner').click(function(){
    $('#flashBanner').fadeOut( "fast" );
  }) 
