doctype html
html(lang="en")
  head
  title
    | Aflac : Employer Choice
  meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8") 
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  link(href='css/screen.css', rel='stylesheet')
  body.agent-dashboard
    include includes/_header-and-main-nav.jade
    include includes/_flash.jade
    #content
      .wrapper.page-component 
        h1 Shirley's Dashboard
        .input-and-button-container
          label.hidden(for='username') Agent ID
          input#employerName(type="text", required='required', data-msg-required='Please enter employer name', data-msg='Please enter a valid name', minlength="2", placeholder="New employer name")
          button#BtnNewEmployer.icon-right-open 
            span Start
        .table-container
          table.table-minimal
            thead
              tr
                th Employers
                th Choices complete 
                th 70% POPS
                th Submitted
            tbody
              tr
                th 3Blades
                td.dot.yes
                  span
                td.dot
                  span
                td.dot
                  span
              tr
                th Abate Solutions
                td.dot.yes
                  span
                td.dot.yes
                  span
                td.dot.yes
                  span
              tr
                th Apogee Legal
                td.dot
                  span
                td.dot
                  span
                td.dot
                  span
              tr
                th Bay Dynamics
                td.dot.yes
                  span
                td.dot
                  span
                td.dot
                  span
        .table-container
          table.table-minimal
            caption Aflac All Employee Choices
            tbody
              tr
                th Health Advocate
                td 19¢ 
                  abbr(title='Per employee per month') pe/mth
                td &nbsp;
              tr
                th Telemedicine
                td 16¢ 
                  abbr(title='Per employee per month') pe/mth
                td &nbsp;
              tr
                th Legal Services
                td $2 
                  abbr(title='Per employee per month') pe/mth
                td &nbsp;
              tr
                th Career and Talent Coaching
                td 24¢ 
                  abbr(title='Per employee per month') pe/mth
                td &nbsp;
              tr
                th Care.com
                td 16¢ 
                  abbr(title='Per employee per month') pe/mth
                td &nbsp;
              tr
                th Student Loan Repayment
                td 31¢ 
                  abbr(title='Per employee per month') pe/mth
                td &nbsp;  
                  

script(src='javascript/vendor/jquery-3.1.0.min.js')
script(src='javascript/vendor/jquery-ui.min.js')
script(src='javascript/vendor/jquery.validate.min.js')
script(src='javascript/global-scripts.js')
script.
  $("#container").validate(); 
