doctype html
html(lang="en")
  head
  title
    | Aflac : Employer Choice
  meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  link(href='css/screen.css', rel='stylesheet')
  body.agent-dashboard
    include includes/_header-and-main-nav.jade
    include includes/_flash.jade  
    #content
      .wrapper.page-component 
        h1 Shirley's Dashboard
        .input-and-button-container
          label.hidden(for='username') Agent ID
          input#employerName(type="text", required='required', data-msg-required='Please enter employer name', data-msg='Please enter a valid name', minlength="2", placeholder="New employer name")
          button#BtnNewEmployer.icon-right-open 
            span Start


script(src='javascript/vendor/jquery-3.1.0.min.js')
script(src='javascript/vendor/jquery-ui.min.js')
script(src='javascript/vendor/jquery.validate.min.js')
script(src='javascript/global-scripts.js')
script.
  $("#container").validate(); 
