doctype html
html(lang="en")
  head
  title
    | Aflac : Employer Choice
  meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  link(href='css/screen.css', rel='stylesheet')
  body.agent-verify
    form#verifyAgent(action='agent-welcome.html', novalidate) 
      h1(class='aflac-logo') Aflac : Employer Choice Tool
      .wrapper
        .card-center
          h1 Employer Choice Tool
          .input-and-button-container.question
            label.hidden(for='username') Agent ID
            input#username(type="text", required='required', data-msg-required='Please enter your Agent ID', data-msg='Please enter a valid Agent ID', minlength="2", placeholder="Agent ID")
            button#BtnVerifyAgent.icon-right-open Go

script(src='javascript/vendor/jquery-3.1.0.min.js')
script(src='javascript/vendor/jquery-ui.min.js')
script(src='javascript/vendor/jquery.validate.min.js')
script(src='javascript/global-scripts.js')
script.
  $("#verifyAgent").validate(); 
