hr.head
p.left Employees and their immediate families who call our 24/7 toll-free number are assigned their own Personal Health Advocate, typically a registered nurse, who is supported by a team of medical directors, benefits and claims specialists, who provide expert assistance with navigating the complex health care and insurance systems.
.graphis-list.light-content
  .item
    img(src="images/icon-personal-advocate.png")
    span.reg PERSONAL HEALTH ADVOCATE
  .item
    img(src="images/icon-cheque.png")
    span.reg BENEFITS AND CLAIMS SPECIALISTS
  .item
    img(src="images/icon-transfer-med-record.png")
    span.reg TRANSFER MEDICAL RECORDS 
strong.title Services include but are not limited to:
ul.check-list
  li Understand their coverage and costs of care
  li Locating leading providers, including for second opinions
  li Clarifying complex conditions
  li Researching available treatment options and assistance in resolving claims
  li Scheduling appointments, treatments or tests
  li Transferring medical records, lab results or X-rays

.product-redlines
  hr.content
  strong Best for: 
  span Families, Ongoing or Complex Medical Situations
  hr.content
  strong 8 
  span out of 
  strong 10 
  span employers pick this benefit
  hr.content

h4 Benefits for employees
ul.bullet
  li Finds the right answers, quickly and correctly
  li Better work/life balance
  li Confidential and convenient
  li Helps entire family, including parents and parents-in-law
  li Saves time, money and worry

h4 Benefits for employers
ul.bullet
  li Supports consumer-driven health plans
  li Increases productivity, retention
  li Reduces claims costs, grievances, appeals
  li Non-adversarial approach
  li Promotes better use of network utilization
  li Eases burden on Human Resources staff
  li Year-round communication materials to maximize utilization

.form-footer
  span.primary-actions
    button.btn-secondary Got it!
