doctype html
html(lang="en")
  head
  title
    | Aflac : Employer Choice
  meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8") 
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  link(href='css/screen.css', rel='stylesheet')
  body.selection-summary
    include includes/_header-and-main-nav.jade
    .wrapper
      .content-head
        span#employerName.above-title
        h1 Benefits summary
        p.sub-heading Here’s what you have picked! Find out how this is going to help grow your organization in future.
      form#vasBenefitsSummary(action='confirmation.html', novalidate='novalidate')        
        .primary-content
          table.table-minimal.table-summary
            thead
              tr
                td.title(colspan='2') FREE FOR ALL Benefit
              tr
                th#selectedFreeBenefit --
                td.free FREE!
              tr#vasBenefitRowStart
                td.title(colspan='2') New All Employee Benefits              
            tbody
              tr
                th Per employee per month 
                td.perEmployeePerMonth.price.pepp-total --
              tr
                th Total premium per month
                td.total-premium 
                  span#numberOfEmployees.grey --
                  span.grey *
                  span.perEmployeePerMonth.price.grey --
                  span.grey =
                  span#totalPremiumAmount.price.total 15.2
        
          h2 Help us engage with your employees (POPS)
          p.sub-heading Chose the best option for an Aflac representative to reach 70% of your employees. We want to make sure each one of them is encouraged to keep a healthy lifestyle.
          
          .radio-checkbox-list.engagement-choice
            label.hidden(for='popsEngagement') Please select the made of engagament for Aflac agent to engage with your employees
            label.control.control--checkbox
              input#popsEngagementGroupEmail.radio(type='checkbox', name='popsEngagementCheckbox', value='popsEngagementGroupEmail', required='required', data-msg='Please select the made of engagament for Aflac agent to engage with your employees')
              .control__indicator
              p 
                span.h4 Group email
                span.productDesc We will share Aflac benefits information via a group Email
            hr
            label.control.control--checkbox
              input#popsEngagementOfficeVisit.radio(type='checkbox', name='popsEngagementCheckbox', value='popsEngagementOfficeVisit')
              .control__indicator
              p 
                span.h4 Office visit
                span.productDesc Come to our office. We will provide space to schedule appointments with employees.
            hr
            label.control.control--checkbox
              input#popsEngagementTeleconferenceOrWebcasts.radio(type='checkbox', name='popsEngagementCheckbox', value='popsEngagementTeleconferenceOrWebcasts')
              .control__indicator
              p 
                span.h4 Teleconference/Webcasts
                span.productDesc Connect through teleconference or webcasts remotely
            hr
            label.control.control--checkbox
              input#popsEngagementPaycheckAttachment.radio(type='checkbox', name='popsEngagementCheckbox', value='popsEngagementPaycheckAttachment')
              .control__indicator
              p 
                span.h4 Paycheck attachment
                span.productDesc Provide information on benefits attached to the paychecks
        
        .form-footer
            span.primary-actions
              button#primaryBtn(type='submit') Confirm
            span.secondary-actions.link-btn
              a(href="vas-selection.html") Back 
script(src='javascript/vendor/jquery-3.1.0.min.js')
script(src='javascript/vendor/jquery-ui.min.js')
script(src='javascript/vendor/jquery.validate.min.js')
script(src='javascript/global-scripts.js')
script.
  // validate form
  $("#vasBenefitsSummary").validate();
  
  // display employerName and selected benefits
  $('#employerName').text(sessionStorage.getItem('employerName'))
  $('#selectedFreeBenefit').text(sessionStorage.getItem('selectedFreeBenefit'))
  $('#numberOfEmployees').text(sessionStorage.getItem('numberOfEmployees'))
  
  // display selected benefits and their price calculated in summary table
  $(function() {
    // benefits
    var benefits = sessionStorage.getItem('vasSelectedBenefits');
    var matchBenefit = benefits.split(',');
    
    // prices
    var prices = sessionStorage.getItem('vasSelectedBenefitsPrice');
    var matchPrice = prices.split(',');
    
    var elements = $();
    for (var a in matchBenefit, matchPrice) {
        elements = elements.add('<tr><th>' + matchBenefit[a] + '</th>' + '<td class="price"><span class="has-plus">' + matchPrice[a] + '</span><span class="pemth">pe/mth</span></td><tr>');
    }
    $(elements.insertAfter('#vasBenefitRowStart'));
    
    // sum all vas benefits 
    var sum = 0;
    $('.has-plus').each(function(){
        sum += parseFloat($(this).text());
    });
    $('.perEmployeePerMonth').html(sum)
    
    // display total premium amount
    totalEmployees = sessionStorage.getItem('numberOfEmployees');
    premiumTotal = totalEmployees * sum;
    $('#totalPremiumAmount').html(premiumTotal)
  })
  
  // modal window
  $( ".dialog" ).dialog({
    autoOpen: false,
    show: {
      effect: "blind",
      duration: 10
    },
    hide: {
      effect: "explode",
      duration: 10
    }
  });  
  
  // get selected/checked vas benefits
  $('#vasBenefitsSelection input').on('change', function() {        
    var checkedValues = $('#vasBenefitsSelection input:checkbox:checked').each(function() {
      return this;
    }).get();
    
    // Add selected benefits to summary card
    $('.vas-section').show();
    var elements = $();
    for(x = 0; x < checkedValues.length; x++) {
      elements = elements.add('<li>' + $(checkedValues[x]).parent().find('.h4').text() + '</li>');
    }
    $('#vasBenefitChosen').empty();
    $('#vasBenefitChosen').append(elements);
    if(checkedValues.length == 0) {
      $('.vas-section').hide();
    }
    
    // highlight row by adding 'checked' class
    if($(this).prop('checked')) {      
      $(this).parent().addClass('checked');
    } else {
      $(this).parent().removeClass('checked');
    }
  })
