doctype html
html(lang="en")
  head
  title
    | Aflac : Employer Choice
  meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8") 
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  link(href='css/screen.css', rel='stylesheet')
  body.radio-checkbox-list
    include includes/_header-and-main-nav.jade
    .wrapper
      .content-head
        h1 Choose additional ALL EMPLOYEE benefits
        p.sub-heading You’ve picked “Telemedicine” as your FREE FOR ALL benefit.
        p.sub-heading You can also choose as many of these Aflac group plan benefits for ALL your employees, regardless of whether they select other Aflac products.
      form#vasBenefitsSelection(action='selection-summary.html', novalidate='novalidate')        
        .primary-content
          .card-gray
            label.hidden(for='vasBenefit') Please select the benefits you would like to offer to the employees
            label.control.control--checkbox
              input#vasBenefitStudentLoanRepayment(type='checkbox', name='vasBenefitCheckbox', value='Student Loan Repayment')
              .control__indicator
              p 
                span.h4 Student Loan Repayment
                span.price 0.24 
                span.pemth pe/mth
                span.productDesc Aflac’s partner Peanut Butter makes it easy for you to offer student loan repayment to attract and retain the most talented Millennial employees
                  span.see-more
                span.bullet 
                  strong &bull; Best for:  
                  | Millennials, college students or graduates, parents of students
                span.bullet &bull; 48% of employers pick this benefit
            hr
            label.control.control--checkbox
              input#vasBenefitCareDotCom(type='checkbox', name='vasBenefitCheckbox', value='Care.com')
              .control__indicator
              p 
                span.h4 Care.com
                span.price 0.16
                span.pemth  pe/mth
                span.productDesc Lets employees manage all their family care needs 24/7, such as nannies, day care, tutors, dog-sitters/walkers, home companions, personal care services
                  span.see-more
                span.bullet 
                  strong &bull; Best for:  
                  | Parents, boomers, sandwich generation, adults with aging parents
                span.bullet &bull; 57% of employers pick this benefit
            hr
            label.control.control--checkbox
              input#vasBenefitHealthAdvocate(type='checkbox', name='vasBenefitCheckbox', value='Health Advocate')
              .control__indicator
              p 
                span.h4 Health Advocate
                span.price 0.19
                span.pemth  pe/mth
                span.productDesc 24/7 toll-free access to an assigned Personal Health Advocate providing expert assistance with navigating the complex health care and insurance systems
                  span#healthAdvocateDialogOpner.see-more
                span.bullet 
                  strong &bull; Best for:  
                  | Families, Ongoing or Complex Medical Situations
                span.bullet &bull; 79% of employers pick this benefit
            hr
            label.control.control--checkbox
              input#freeBenefitTelemedicine(type='checkbox', name='vasBenefitCheckbox', value='Telemedicine')
              .control__indicator
              p 
                span.h4 Telemedicine
                span.price 0.19
                span.pemth  pe/mth
                span.productDesc Connects your employees with a board-certified, state-licensed medical provider online 24/7 to receive personalized treatment
                  span.see-more
                span.bullet 
                  strong &bull; Best for:  
                  | Active. busy lifestyles, families, Commuters or those not within a short distance to hospitals or primary care physicians, vacationers, traveling businesspeople, away at college
                span.bullet &bull; 64% of employers pick this benefit
            hr
            label.control.control--checkbox
              input#vasBenefitLegalServices(type='checkbox', name='vasBenefitCheckbox', value='Legal Services')
              .control__indicator
              p 
                span.h4 Legal Services
                span.price 2
                span.pemth  pe/mth
                span.productDesc Employees will be able to manage more than 100 legal needs, such as preparing a will, managing a divorce or dealing with customer complaints
                  span.see-more
                span.bullet 
                  strong &bull; Best for:  
                  | Families, Active, Busy Lifestyle
                span.bullet &bull; 59% of employers pick this benefit
            hr
            label.control.control--checkbox
              input#vasBenefitCareerAndTalentCoaching(type='checkbox', name='vasBenefitCheckbox', value='Career and Talent Coaching')
              .control__indicator
              p 
                span.h4 Career and Talent Coaching
                span.price 0.24
                span.pemth  pe/mth
                span.productDesc Empower your talent.  The new generation of workers and your tenured employees are seeking mentors to accelerate their careers and identify opportunities at their current jobs that bring satisfaction
                  span.see-more
                span.bullet 
                  strong &bull; Best for:  
                  | All employees
                span.bullet &bull; 55% of employers pick this benefit
        label.error(for='vasBenefitRadio')
        .card-blue.secondary-content#benefitChosenCard
            .free-section
              h4 Free Benefit
              ul
                li#freeBenefitChosen
            .vas-section(style='display: none')
              h4 VAS Benefit
              ul#vasBenefitChosen
        .form-footer
            span.primary-actions
              button#primaryBtn.icon-right-open(type='submit') Next
            span.secondary-actions.link-btn
              a(href="free-benefits-selection.html") Back 
      include includes/_product-health-advocate.jade
script(src='javascript/vendor/jquery-3.1.0.min.js')
script(src='javascript/vendor/jquery-ui.min.js')
script(src='javascript/vendor/jquery.validate.min.js')
script(src='javascript/global-scripts.js')
script.
  // remove freeBenefitChosen from the VAS list
  $('input[name="vasBenefitCheckbox"]').each(function() {
      if ($(this).val() === sessionStorage.getItem('selectedFreeBenefit')) {
          $(this).parent().remove();
      }
  });
  
  // get employerName  
  $('#freeBenefitChosen').html(sessionStorage.getItem('selectedFreeBenefit'))
  
  $("#vasBenefitsSelection").validate({
    submitHandler: function(form) {
      var selectedBenefits = $('input[name="vasBenefitCheckbox"]:checked').map(function() {
        return this.value;
      }).get().join(',')
      sessionStorage.setItem('vasSelectedBenefits', selectedBenefits)
      form.submit();
    }
  });
  
  $( ".dialog" ).dialog({
    autoOpen: false,
    show: {
      effect: "blind",
      duration: 10
    },
    hide: {
      effect: "explode",
      duration: 10
    }
  });
  
  $('#healthAdvocateDialogOpner').click(function(){
    $( "#healthAdvocateDialog" ).dialog('open');
  })
  
  
  $('#vasBenefitsSelection input').on('change', function() {        
    var checkedValues = $('#vasBenefitsSelection input:checkbox:checked').each(function() {
      return this;
    }).get();
    
    // Add selected benefits to summary
    $('.vas-section').show();
    var elements = $();
    for(x = 0; x < checkedValues.length; x++) {
      elements = elements.add('<li>' + $(checkedValues[x]).parent().find('.h4').text() + '</li>');
    }
    $('#vasBenefitChosen').empty();
    $('#vasBenefitChosen').append(elements);
    if(checkedValues.length == 0) {
      $('.vas-section').hide();
    }
    
    // highlight row by adding 'checked' class
    if($(this).prop('checked')) {      
      $(this).parent().addClass('checked');
    } else {
      $(this).parent().removeClass('checked');
    }
  })
