.main-body {
  @include outer-container();
  position: relative;
}

.page-component {
  background-color: white;
  padding: $small-spacing;
  h1 {
    padding-top: $small-spacing;
  }
	&.with-top-padding {
		padding-top: 50px;
	}
}

.page-component,
.flash .wrap,
.header-container .wrap {
  margin: 0 auto;
  padding: 0 $small-spacing;
  @include media($above-mid) {
      width: 80%;
  }
  @include media($above-wide) {
      width: 60%;
  }
}

.card {
  @include outer-container;
  border: 1px solid lighten($light-gray, 60%);
  padding: $small-spacing;
  margin: $small-spacing $small-spacing 0 $small-spacing;
}

.card-gray {
    padding: $base-spacing;
    background-color: darken($lightest-gray, 1%)
}

.hidden {
  display: none !important;
}
