.main-body {
  @include outer-container();
  position: relative;
}

.wrapper,
.flash .wrap,
.header-container .wrap {
  margin: 0 auto;
  padding: 0 $small-spacing;
  @include media($above-mid) {
      width: 80%;
  }
  @include media($above-wide) {
      width: 60%;
  }
}

.wrapper {
  @include outer-container;
  padding: $small-spacing;
}

.content-head {
  h1 {
    padding-top: $small-spacing;
  }
}

.primary-content {
  @include media($wide) {
    @include span-columns(9);
  }
}

.secondary-content {
  @include media($wide) {
    @include span-columns(3);
  }
}

.card {
  @include outer-container;
  border: 1px solid lighten($light-gray, 60%);
  padding: $small-spacing;
  margin: $small-spacing $small-spacing 0 $small-spacing;
}

.card-gray {
  position: relative;
  padding: $base-spacing;
  background-color: darken($lightest-gray, 1%);
  .radio-list & {
    padding: 0;
  }
}

.card-blue {
  @include outer-container;
  border: 5px solid $blue;
  position: relative;
  padding: $base-spacing;
  background-color: lighten($blue, 36%);
  color: $blue;
  margin-top: $base-spacing;
  section {
    @extend %half-width;
  }
  h4 {
    margin-bottom: $small-spacing/2;
  }
  @include media($above-mid) {
    padding: $small-spacing $small-spacing $base-spacing;
    margin-top: 0;
  }
}

.hidden {
  display: none !important;
}
