.agent-dashboard {
  .input-and-button-container {
    margin-bottom: $base-spacing;
    border-left: 3px solid $blue;
    input {
      width: 91%;
      font-size: 2rem;
    }
    button {
      position: absolute;
      right: 0;
    }
  }
  .input-and-button-container {
    display: block;
  }
  .table-minimal {
    th {
      text-align: center;
      &:first-child {
        text-align: left;
      }
    }
  }
}
