#flashBanner.flash.alert
  .wrap
    p We have a new producer tip!
    .link-options
      a#opener(href='javascript: void(0)') See now
      a.close-banner(href='javascript: void(0)') Save for later
    span.close-banner.icon-cancel(href='javascript: void(0)', title='Close this alert')
