#flashBanner.flash.alert
  .wrap
    p We have a new producer tip!
    .link-options
      a.modalOpner(href='dialogs/tip-colonial-1.html', name='Tip of the Day!') See now
      a.close-banner(href='javascript: void(0)') Save for later
    span.close-banner.icon-cancel(href='javascript: void(0)', title='Close this alert')
