.header-container
  .wrap
    a(href='index.html')
      h1(class='aflac-logo') Aflac : Employer Choice Tool
    nav.global-nav
      ul
        li
          a(href='#') Profile
        li
          a(href='#') Logout
