.header-container
  .wrap
    h1(class='aflac-logo') Aflac : Employer Choice Tool
    nav.global-nav
      ul
        li
          a(href='#') Settings
        li
          a(href='#') Profile
        li
          a(href='#') Logout
