#alertDialog.dialog(title='Tip of the Day!') 
    h3 If you’re competing against Colonial, concentrate on the following benefits with Aflac:
    .graphis-list
      .item.cardiac 
        img(src="images/icon-heart.png")
        | AFLAC PAYS BENEFITS FOR 
        span.blue SUDDEN CARDIAC ARREST 
        span.reg IN ADDITION TO HEART ATTACKS.
      .item.dependent 
        img(src="images/icon-dependent.png")
        | AFLAC PAYS BENEFITS FOR
        span.blue DEPENDENT CHILDREN AT A
        span.reg HIGHER AMOUNT THAN COLONIAL.
      .item.serious-event 
        img(src="images/icon-care.png")
        | AFLAC HAS A
        span.blue CONTINUING CARE BENEFIT
        span.reg FOR CARE AFTER A SERIOUS COVERED EVENT 
        span.small (CRITICAL CARE PROTECTION).
      .item.robust-list 
        img(src="images/icon-benefits-list.png")
        | AFLAC HAS A ROBUST
        span.blue HEART SURGERY PAYOUT
        span.reg WITH BENEFITS UP TO $4,000 
        span.small (CRITICAL CARE PROTECTION).
      .item.three-options 
        img(src="images/icon-hospitalbed.png")
        | AFLAC OFFERS 3 OPTIONS OF
        span.reg BENEFITS TO CHOOSE FROM 
        span.blue TAILORED TO A PERSON’S NEEDS 
        span.small (CRITICAL CARE PROTECTION).
    .form-footer
      span.primary-actions
        button.btn-secondary Next Tip
      span.secondary-actions
        a(href="") Close
